  div[scrolly=true] {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 80vh;
  }

  td {
    padding: 30px;
  }