<ion-content class="container" scroll="no">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div  class="scroll" scrollY="true">
          <ion-list lines="none">
            <ion-item text-center>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
      <ion-col>
        <div  class="scroll" scrollY="true">
          <ion-list lines="none">
            <ion-item text-center>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
      <ion-col lines="none">
        <div  class="scroll" scrollY="true">
          <ion-list lines="none">
            <ion-item text-center>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>dfsdfsdf</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
