ion-text:focus {
    outline: 0;
}

ion-header div:hover ion-label {
    text-decoration: underline;
}

ion-tab-bar {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50%;
    padding-right: 50%;
}

ion-tab-button {
    font-size: 22px;
    font-weight: normal;
    color: black;
}

ion-tab-button ion-label {
    font-size: 20px;
}

ion-tab-button .home {
    font-size: 16px;
}

ion-tab-button:hover ion-label {
    text-decoration: underline;
}

.tab-selected ion-label {
    text-decoration: underline;
}