<ion-tabs>
  <ion-header no-border>
    <div margin-top text-center>
      <ion-label routerLink="/">exhibit arhitectura</ion-label>
    </div>
  </ion-header>
  <ion-tab-bar slot="top">
      <ion-tab-button tab="atelier">
        <ion-label>Atelier</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="lucrari">
        <ion-label>Lucrari</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="texte">
        <ion-label>Texte</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
