<ion-tabs (ionTabsWillChange)="onTabsChange()">
  <ion-tab-bar slot="top">
    <table>
      <tr>
        <td colspan="3">
          <ion-tab-button tab="/">
            <ion-label class="home">exhibit arhitectura</ion-label>
          </ion-tab-button>
        </td>
      </tr>
      <tr>
        <td>
          <ion-tab-button tab="atelier">
            <ion-label>Atelier</ion-label>
          </ion-tab-button>
        </td>
        <td>
          <ion-tab-button tab="proiecte">
            <ion-label>Proiecte</ion-label>
          </ion-tab-button>
        </td>
        <td>
          <ion-tab-button tab="texte">
            <ion-label>Texte</ion-label>
          </ion-tab-button>
        </td>
      </tr>
    </table>
  </ion-tab-bar>
</ion-tabs>
