<ion-tabs (ionTabsWillChange)="onTabsChange($event)">
  <ion-tab-bar slot="top">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-tab-button tab="/">
            <ion-label class="home">exhibit arhitectura</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col no-padding>
          <ion-tab-button tab="atelier" [ngClass]="{'tab-selected': 'atelier' === selected}">
            <ion-label>Atelier</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col no-padding>
          <ion-tab-button tab="proiecte" [ngClass]="{'tab-selected': 'proiecte' === selected}">
            <ion-label>Proiecte</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col no-padding>
          <ion-tab-button tab="publicatii" [ngClass]="{'tab-selected': 'publicatii' === selected}">
            <ion-label>Publicatii</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col no-padding>
          <ion-tab-button tab="competitii" [ngClass]="{'tab-selected': 'competitii' === selected}">
            <ion-label>Competitii</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-tab-bar>
</ion-tabs>
