<ion-grid>
  <ion-row *ngFor="let image of project.images">
    <ion-col text-center>
      <ion-img
        *ngIf="project.backup"
        [src]="'assets/projects/' + project.id + '/images/' + image.id + '.jpg'"
        tappable
        (click)="openPreview(image.id)"
      ></ion-img>
      <ion-img
        *ngIf="!project.backup"
        [src]="djangoAddress + image.url"
        tappable
        (click)="openPreview(image.id)"
      ></ion-img>
      <p>• {{ image.id }} •</p>
      <p>{{ image.title }}</p>
    </ion-col>
  </ion-row>
</ion-grid>
