<ion-content padding>
  <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" [options]="slidesOpts">
    <ion-slide *ngFor="let project of loadedProjects" [routerLink]="['/', 'tabs', 'proiecte', project.id]">
      <ion-img *ngIf="project.backup" [src]="'assets/projects/' + project.id + '/images/' + project.main_image.id + '.jpg'"></ion-img>
      <ion-img *ngIf="!project.backup" [src]="'http://localhost:8000' + project.main_image.url"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>