<ion-content >
  <ion-grid >
    <ion-row>
      <ion-col offset-sm="2" size-sm="8" offset-md="3" size-md="6" offset-lg="4" size-lg="4" offset="1" size="10" lines="none">
        <div >
          <ion-list>
            <ion-item lines="none">
              <ion-text>
                  present and past collaborators
                  arch. marco guerra, arch. antoine lebot, arch. liaohui guo, anna opitz, pablo brenas 
                  
                  arch. riccardo amarri, logan amont, emilie appercé, laura bertagno, tomàs cabral, yangnan cai, francesca caravello, letizia fuerer, lorenzo gatta, daniel giezendanner, arch. előd zoltàn golicza, kaidan hou, felix jungo, cyril kamber, besart krasniqi, jovan minic, arch. andrea nardi, arch. anna oliva, costanza passuello, alessandro pecci, arch. martina piccolo, arch. francesco rizzi, juri schonenberger, shaohan tang, domenico singha pedroli, xin tang, nicola torniamenti, gion balthasar von albertini, jianfeng wang, jie zhang, yatong zhao, tong zhao
                  
                  website design ramdath mos from an idea by jovan & nicola
                  
                  curriculum vitae
                  Francesca Torzo (Padova 1975) studies in TU Delft, ETSAB Barcelona, Accademia di Architettura di Mendrisio and IUAV in Venezia. She develops the diploma at Accademia di Architettura di Mendrisio and graduates with honours by IUAV in Venezia in 2001 with arch. Peter Zumthor, prof. Umberto Tubini, arch. Miguel Kreisler, eng. Jurg Conzett. In 2001 develops an experimental dry construction in stone together with eng. Jurg Conzett and HTW, Chur.
                  In 2001-2002 works as project architect by Peter Zumthor Architekturburo Haldenstein, and in 2003 by Bosshard Vaquer Architekten Zurich.
                  In 2008 starts her own office in Genova.
                  From 2009 to 2017 teaches as assistant by Atelier Bearth in Accademia di Architettura di Mendrisio, Switzerland.
                  From 2017 is professor at Bergen Arkitekthøgskole, Norway.
                  She has lectured at a number of schools and cultural institutions, such as Ecole Nationale Supérieure des Arts de Paris Cergy, aut Innsbruck, Technische Universität München, USI Accademia di Architettura di Mendrisio, Brickworks International Speakers Series Australia, Technische Universität Wien, Museum Alvar Aalto Helsinki.
                  In 2018 is invited as participant to the 16th International Architecture Exhibition - La Biennale di Venezia, FREESPACE, curated by Yvonne Farrell and Shelley McNamara.
                  In 2018 is appointed Chairman 2018-2019 of Maarten Van Severen Foundation in Gent.
                  The project Z33 house for contemporary art in Hasselt is awarded the international 2018 Piranesi award.
                  
                  selection of works
                  n09 Z33 house contemporary art, Hasselt BE
                  
                  2012 ⋅ ongoing
                  
                  p09 Mariano & Louis, lamps line design for Z33 
                  
                  2015 ⋅ ongoing
                  
                  p08 W33, handle line design for izè
                  
                  2015 - 2018
                  
                  n12 Chiatta Banano, bar & club, Genova IT
                  
                  2016 ⋅ preliminary project
                  
                  r16 Pavilion house, holiday house, Sorano IT
                  
                  2016 ⋅ ongoing
                  
                  n14 VP, new apartment building, Trento IT
                  
                  2016 ⋅ preliminary project
                  
                  r15 Casa M, renovation, Genova IT
                  
                  2016 ⋅ realized
                  
                  c12 Villa Chile, university, Mendrisio CH
                  
                  2015-2016 ⋅ competition
                  
                  r13 Casa CSL, renovation, Genova IT
                  
                  2015 ⋅ preliminary project
                  
                  c10 Pestalozzi, elementary school, Bern CH
                  
                  2014-2015 ⋅ competition
                  
                  c08 Pavilion, Design Miami Basel 2015 CH
                  
                  2014 ⋅ preliminary project
                  
                  c09 Guggenheim, art museum, Helsinki FI
                  
                  2014 ⋅ competition
                  
                  r12 Casa T, renovation, Genova IT 
                  
                  2012-2013 ⋅ realized
                  
                  n10 Pavilion B T, bar & dehòr, Genova IT
                  
                  2012-2013 ⋅ realized
                  
                  u03 Bonnenfantenstraat, Hasselt BE
                  
                  2013 ⋅ preliminary project
                  
                  u02 Hasselt Tourist Map, Hasselt BE
                  
                  2013 ⋅ preliminary masterplan
                  
                  f16 SagronMis UNESCO exhibit, Trento IT
                  
                  2013 ⋅ preliminary project
                  
                  f15TimeMachine exhibit, Dobbiaco IT
                  
                  2013-2014 ⋅ realized
                  
                  c03 Z33 house contemporary art, Hasselt BE
                  
                  2011-2012 ⋅ competition ⋅ 1st prize
                  
                  c04Schloss, school, St Gallen CH
                  
                  2012 ⋅ competition
                  
                  c05Agone, elementary school, Caslano CH
                  
                  2012 ⋅ competition i.c.w. arch. N. Polli
                  
                  c02 Aion, university campus, Lugano CH
                  
                  2010-2011 ⋅ competition ⋅ 5th prize
                  
                  n05 Open Air Museum, Wadi Mathendush LY
                  
                  2010-2011 ⋅ on going
                  
                  n07 Kitchen, bar pavilion, Genova IT
                  
                  2011 ⋅ realized
                  
                  i10 CasaParis, renovation, Genova IT
                  
                  2010-2011 ⋅ realized
                  
                  i09 Casa LuLuMa, interior design, Padova IT
                  
                  2011 ⋅ realized
                  
                  p06 Hot Gio, handle prototype
                  
                  2010-2011 ⋅ realized
                  
                  i08 Casa Mama, interior design, Rapallo IT
                  
                  2009-2010 ⋅ realized
                  
                  r08 Casa Green Crane, renovation, Sorano IT
                  
                  2007-2010 ⋅ realized
                  
                  n02 Casa Due, holiday house, Sorano IT
                  
                  2007-2010 ⋅ realized
                  
                  r07 Kitchen, club & restaurant, Genova IT
                  
                  2008 ⋅ realized
                  
                  r06 Scialalletta, restaurant, Pietra Ligure IT
                  
                  2008 ⋅ realized
                  
                  r05 Casa Pozzato, renovation, Comacchio IT
                  
                  2008 ⋅ realized
                  
                  i04 Balcone, restaurant, Genova IT 
                  
                  2007 ⋅ realized
                  
                  r04 Casa Santanna, renovation, Genova IT
                  
                  2007 ⋅ realized
                  
                  f06 Kitchen KM, furniture, Milan IT
                  
                  2007 ⋅ realized
                  
                  r02 Casa Uno, holiday house, Sorano IT
                  
                  2005-2006 ⋅ realized
                  
                  f04 Kitchen 3mm, Genova IT
                  
                  2006 ⋅ realized
                  
                  i03Foucault pendulum, exhibit, Padova IT
                  
                  2005-2006 ⋅ realized ⋅ as baukuh 
                  
                  u01 Bakemabuurt masterplan, A'dam NL
                  
                  2003-2006 ⋅ realized ⋅ as baukuh
                  
                  n01 Teatri di Spina ⋅ Lido di Spina IT
                  
                  2005 ⋅ preliminary project ⋅ as baukuh
                  
                  f01 Kitchen 6mm, Padova IT
                  
                  2003 ⋅ realized
                  
                  p01 Archivio delle acque, Padova IT
                  
                  2001 ⋅ prototype i.c.w. J. Conzett</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
