<ion-content >
  <ion-grid >
    <ion-row>
      <ion-col offset-sm="2" size-sm="8" offset-md="3" size-md="6" offset-lg="4" size-lg="4" offset="1" size="10" lines="none">
        <div >
          <ion-list>
            <ion-item lines="none">
              <ion-text class="ion-text-justify">
                  present and past collaborators<br/>
                  arch. marco guerra, arch. antoine lebot, arch. liaohui guo, anna opitz, pablo brenas 
                  <br/><br/>
                  arch. riccardo amarri, logan amont, emilie appercé, laura bertagno, tomàs cabral, yangnan cai, francesca caravello, letizia fuerer, lorenzo gatta, daniel giezendanner, arch. előd zoltàn golicza, kaidan hou, felix jungo, cyril kamber, besart krasniqi, jovan minic, arch. andrea nardi, arch. anna oliva, costanza passuello, alessandro pecci, arch. martina piccolo, arch. francesco rizzi, juri schonenberger, shaohan tang, domenico singha pedroli, xin tang, nicola torniamenti, gion balthasar von albertini, jianfeng wang, jie zhang, yatong zhao, tong zhao
                  <br/><br/>
                  website design ramdath mos from an idea by jovan & nicola
                  <br/><br/>
                  curriculum vitae
                  <br/>
                  Francesca Torzo (Padova 1975) studies in TU Delft, ETSAB Barcelona, Accademia di Architettura di Mendrisio and IUAV in Venezia. She develops the diploma at Accademia di Architettura di Mendrisio and graduates with honours by IUAV in Venezia in 2001 with arch. Peter Zumthor, prof. Umberto Tubini, arch. Miguel Kreisler, eng. Jurg Conzett. In 2001 develops an experimental dry construction in stone together with eng. Jurg Conzett and HTW, Chur.<br/>
                  In 2001-2002 works as project architect by Peter Zumthor Architekturburo Haldenstein, and in 2003 by Bosshard Vaquer Architekten Zurich.<br/>
                  In 2008 starts her own office in Genova.<br/>
                  From 2009 to 2017 teaches as assistant by Atelier Bearth in Accademia di Architettura di Mendrisio, Switzerland.<br/>
                  From 2017 is professor at Bergen Arkitekthøgskole, Norway.<br/>
                  She has lectured at a number of schools and cultural institutions, such as Ecole Nationale Supérieure des Arts de Paris Cergy, aut Innsbruck, Technische Universität München, USI Accademia di Architettura di Mendrisio, Brickworks International Speakers Series Australia, Technische Universität Wien, Museum Alvar Aalto Helsinki.<br/>
                  In 2018 is invited as participant to the 16th International Architecture Exhibition - La Biennale di Venezia, FREESPACE, curated by Yvonne Farrell and Shelley McNamara.<br/>
                  In 2018 is appointed Chairman 2018-2019 of Maarten Van Severen Foundation in Gent.<br/>
                  The project Z33 house for contemporary art in Hasselt is awarded the international 2018 Piranesi award.
                  <br/><br/>
                  selection of works
                  <br/>
                  n09 Z33 house contemporary art, Hasselt BE
                  <br/>
                  2012 ⋅ ongoing
                  <br/>
                  p09 Mariano & Louis, lamps line design for Z33 
                  <br/>
                  2015 ⋅ ongoing
                  <br/>
                  p08 W33, handle line design for izè
                  <br/>
                  2015 - 2018
                  <br/>
                  n12 Chiatta Banano, bar & club, Genova IT
                  <br/>
                  2016 ⋅ preliminary project
                  <br/>
                  r16 Pavilion house, holiday house, Sorano IT
                  <br/>
                  2016 ⋅ ongoing
                  <br/>
                  n14 VP, new apartment building, Trento IT
                  <br/>
                  2016 ⋅ preliminary project
                  <br/>
                  r15 Casa M, renovation, Genova IT
                  <br/>
                  2016 ⋅ realized
                  <br/>
                  c12 Villa Chile, university, Mendrisio CH
                  <br/>
                  2015-2016 ⋅ competition
                  <br/>
                  r13 Casa CSL, renovation, Genova IT
                  <br/>
                  2015 ⋅ preliminary project
                  <br/>
                  c10 Pestalozzi, elementary school, Bern CH
                  <br/>
                  2014-2015 ⋅ competition
                  <br/>
                  c08 Pavilion, Design Miami Basel 2015 CH
                  <br/>
                  2014 ⋅ preliminary project
                  <br/>
                  c09 Guggenheim, art museum, Helsinki FI
                  <br/>
                  2014 ⋅ competition
                  <br/>
                  r12 Casa T, renovation, Genova IT 
                  <br/>
                  2012-2013 ⋅ realized
                  <br/>
                  n10 Pavilion B T, bar & dehòr, Genova IT
                  <br/>
                  2012-2013 ⋅ realized
                  <br/>
                  u03 Bonnenfantenstraat, Hasselt BE
                  <br/>
                  2013 ⋅ preliminary project
                  <br/>
                  u02 Hasselt Tourist Map, Hasselt BE
                  <br/>
                  2013 ⋅ preliminary masterplan
                  <br/>
                  f16 SagronMis UNESCO exhibit, Trento IT
                  <br/>
                  2013 ⋅ preliminary project
                  <br/>
                  f15TimeMachine exhibit, Dobbiaco IT
                  <br/>
                  2013-2014 ⋅ realized
                  <br/>
                  c03 Z33 house contemporary art, Hasselt BE
                  <br/>
                  2011-2012 ⋅ competition ⋅ 1st prize
                  <br/>
                  c04Schloss, school, St Gallen CH
                  <br/>
                  2012 ⋅ competition
                  <br/>
                  c05Agone, elementary school, Caslano CH
                  <br/>
                  2012 ⋅ competition i.c.w. arch. N. Polli
                  <br/>
                  c02 Aion, university campus, Lugano CH
                  <br/>
                  2010-2011 ⋅ competition ⋅ 5th prize
                  <br/>
                  n05 Open Air Museum, Wadi Mathendush LY
                  <br/>
                  2010-2011 ⋅ on going
                  <br/>
                  n07 Kitchen, bar pavilion, Genova IT
                  <br/>
                  2011 ⋅ realized
                  <br/>
                  i10 CasaParis, renovation, Genova IT
                  <br/>
                  2010-2011 ⋅ realized
                  <br/>
                  i09 Casa LuLuMa, interior design, Padova IT
                  <br/>
                  2011 ⋅ realized
                  <br/>
                  p06 Hot Gio, handle prototype
                  <br/>
                  2010-2011 ⋅ realized
                  <br/>
                  i08 Casa Mama, interior design, Rapallo IT
                  <br/>
                  2009-2010 ⋅ realized
                  <br/>
                  r08 Casa Green Crane, renovation, Sorano IT
                  <br/>
                  2007-2010 ⋅ realized
                  <br/>
                  n02 Casa Due, holiday house, Sorano IT
                  <br/>
                  2007-2010 ⋅ realized
                  <br/>
                  r07 Kitchen, club & restaurant, Genova IT
                  <br/>
                  2008 ⋅ realized
                  <br/>
                  r06 Scialalletta, restaurant, Pietra Ligure IT
                  <br/>
                  2008 ⋅ realized
                  <br/>
                  r05 Casa Pozzato, renovation, Comacchio IT
                  <br/>
                  2008 ⋅ realized
                  <br/>
                  i04 Balcone, restaurant, Genova IT 
                  <br/>
                  2007 ⋅ realized
                  <br/>
                  r04 Casa Santanna, renovation, Genova IT
                  <br/>
                  2007 ⋅ realized
                  <br/>
                  f06 Kitchen KM, furniture, Milan IT
                  <br/>
                  2007 ⋅ realized
                  <br/>
                  r02 Casa Uno, holiday house, Sorano IT
                  <br/>
                  2005-2006 ⋅ realized
                  <br/>
                  f04 Kitchen 3mm, Genova IT
                  <br/>
                  2006 ⋅ realized
                  <br/>
                  i03Foucault pendulum, exhibit, Padova IT
                  <br/>
                  2005-2006 ⋅ realized ⋅ as baukuh 
                  <br/>
                  u01 Bakemabuurt masterplan, A'dam NL
                  <br/>
                  2003-2006 ⋅ realized ⋅ as baukuh
                  <br/>
                  n01 Teatri di Spina ⋅ Lido di Spina IT
                  <br/>
                  2005 ⋅ preliminary project ⋅ as baukuh
                  <br/>
                  f01 Kitchen 6mm, Padova IT
                  <br/>
                  2003 ⋅ realized
                  <br/>
                  p01 Archivio delle acque, Padova IT
                  <br/>
                  2001 ⋅ prototype i.c.w. J. Conzett</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
